.globalContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #0a1639;
  color: var(--text);
  position: relative;
  z-index: 0;
  padding-bottom: 10rem;
}

.globalContainer::before {
  content: "";
  position: absolute;
  clip-path: polygon(0 0%, 100% 10%, 100% 90%, 0 100%);
  top: 50px;
  background-color: #fff;
  width: 100vw;
  height: 38rem;
  z-index: -1;
}
.globalContainer::after {
  content: "";
  position: absolute;
  clip-path: polygon(0 10%, 100% 0%, 100% 100%, 0 90%);
  top: 1250px;
  background-color: #fff;
  width: 100vw;
  height: 45rem;
  z-index: -1;
}

.title {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  gap: 1.5rem;
  color: #fff;
  font-size: 3rem;
  font-weight: 700;
}

.description {
  margin-top: 1.5rem;
  color: #fff;
  font-size: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  text-align: center;
}

.description::after {
  content: "";
  height: 0.5rem;
  width: 13.875rem;
  background-color: #db1f30;
  border-radius: 6px;
  margin-top: 1rem;
}

.cardImage {
  object-fit: cover;
  object-position: center;
  width: 45%;
  border-radius: 1.5rem;
}

.cardImage:first-of-type {
  object-position: 100% 0;
  object-fit: contain;
}

.cardContainer {
  display: flex;
  gap: 2.25rem;
  margin-top: 3rem;
}

.cardContainer:first-of-type {
  margin-top: 8.75rem;
}

.cardTextContainer {
  display: flex;
  max-width: 50%;
  flex-direction: column;
  flex-shrink: 0;
  align-items: flex-end;
  text-align: right;
}

.cardTextContainer h3 {
  width: 90%;
  color: #0a1639;
  font-size: 3rem;
  font-size: clamp(1.5rem, 3vw, 2.5rem);
  font-weight: 700;
  display: flex;
  flex-direction: column;
}

.cardTextContainer h3::after {
  content: "";
  height: 0.5rem;
  width: 11.25rem;
  background-color: #3c7bf9;
  border-radius: 6px;
  margin-top: 1rem;
  transform: translateX(300px);
}

.cardTextContainer p {
  margin-top: 1rem;
  color: #0a1639;
  max-width: 80%;
  font-size: 1.5rem;
  font-size: clamp(1.2rem, 2vw, 1.5rem);
}

.cardTextContainerReversed {
  align-items: flex-start;
  padding-top: 1rem;
  text-align: right;
}

.cardTextContainerReversed h3,
.cardTextContainerReversed p {
  color: #fff;
  text-align: left;
}

.cardTextContainerReversed h3::after {
  transform: translateX(-80px);
}

.videoContainer {
  display: flex;
  flex-direction: column;
  margin-top: 8.75rem;
  width: 100vw;
  align-items: center;
}

.videoContainer h3 {
  color: #fff;
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  font-size: clamp(1.8rem, 5vw, 3rem);
}

.video {
  margin-top: 2.13rem;
  width: 80%;
  height: 40vw;
}

.socialLinksContainer {
  display: flex;
  width: 85%;
  justify-content: flex-end;
  align-items: center;
  margin-top: 2rem;
  gap: 5rem;
  margin-bottom: 3.88rem;
}

.socialTextContainer {
  color: #fff;
  font-size: 1.5rem;
}

.socialLogoContainer {
  display: flex;
  gap: 0.5rem;
}

.socialLogoContainer img:first-child {
  transform: translateX(0.3rem);
}

@media screen and (max-width: 767px) {
  .cardContainer {
    flex-direction: column;
    align-items: center;
    padding-bottom: 2rem;
  }

  .cardImage {
    width: calc(100% - 2rem);
    max-height: 20rem;
    border-radius: 1rem;
    object-fit: cover !important;
    object-position: center;
    height: fit-content;
    margin: 0 1rem;
  }

  .cardImage:first-of-type {
    object-position: center;

  }

  .cardTextContainer {
    max-width: 100%;
    align-items: center;
  }

  .cardTextContainer h3 {
    text-align: center;
  }

  .cardTextContainer p {
    text-align: center;
    font-size: 1.1rem;
  }

  .cardTextContainerReversed p {
    text-align: center;
  }

  .globalContainer::after {
    top: 1400px;
    clip-path: polygon(0 3%, 100% 0%, 100% 100%, 0 90%);
  }


}

@media screen and (max-width: 696px) {
  .globalContainer::after {
    /* top: clamp(1600px, 1vw, 1600px); */
    /* padding-top: 9rem; */
    top: 91rem;
  }
}

@media screen and (max-width: 590px) {
  .globalContainer::after {
    /* top: clamp(1600px, 1vw, 1600px); */
    /* padding-top: 9rem; */
    top: 93rem;
  }
}

@media screen and (max-width: 490px) {
  .globalContainer::after {
    /* top: clamp(1600px, 1vw, 1600px); */
    /* padding-top: 9rem; */
    top: 98rem;
  }
}

@media screen and (max-width: 424px) {
  .globalContainer::after {
    /* top: clamp(1600px, 1vw, 1600px); */
    /* padding-top: 9rem; */
    top: 102rem;
  }
}