.globalContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  background-color: #0a1639;
}

.globalContainer h1 {
  color: #fff;
  font-size: 3rem;
  font-weight: 700;
  margin-left: 4rem;
  margin-top: 3rem;
}

.carrouselContainer {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  position: relative;
  margin-top: 4.5rem;
  margin-bottom: 6.25rem;
}

.itemsContainer {
  display: flex;
  gap: 3rem;
  transition: transform 0.5s ease-in-out;
}

.itemContainer {
  border-radius: 4px;
  background: #fff;
  width: 24.5rem;
  height: 15.375rem;
  padding: 0.57rem;
  position: relative;
}

.itemImage {
  width: 23.35713rem;
  height: 10.81944rem;
  flex-shrink: 0;
  border-radius: 2px;
  object-fit: cover;
}

.cuisine {
  position: absolute;
  top: 1rem;
  left: 0.9rem;
  border-radius: 2px;
  background: #0a1639;
  color: var(--text, #f8f9fa);
  font-size: 0.875rem;
  padding: 0.25rem 0.5rem;
}

.favoris {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}

.navigationBtnPrev {
  position: absolute;
  left: 1rem;
  top: 45%;
  z-index: 1;
  transform: rotate(180deg);
}

.navigationBtnNext {
  position: absolute;
  right: 1rem;
  top: 45%;
  z-index: 1;
}

.chevronContainer {
  position: relative;
  background-color: #fff;
  width: 3.25rem;
  height: 3.25rem;
  border-radius: 50%;
  cursor: pointer;
}

.chevronContainer img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media screen and (max-width: 767px) {
  .globalContainer h1 {
    text-align: center;
    margin: 0;
    margin-top: 1rem;
    font-size: 2rem;
  }
  .carrouselContainer {
    margin-top: 1rem;
  }
}