.globalContainer {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.marseilleBackground {
  background: url("/assets/images/background-marseille.png");
  height: 700px;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.wordingContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 33.5rem;
}

.wordingContainer p {
  border-radius: 8px;
  background: #0a1639;
  color: #f8f9fa;
  text-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.1);
  font-size: 3rem;
  font-weight: 700;
  padding: 1rem;
  font-size: clamp(2.3rem, 2vw, 3rem);

}

.wordingContainer p:first-child {
  transform: translateX(+60px);
}

.textContainer {
  display: flex;
  position: relative;
  align-items: center;
  transform: translateY(-42px) translateX(+40px);
}

.textContainer p:last-of-type {
  background-color: #d71023;
  max-height: 87px;
  transform: translateX(+60px);
}

.textContainer p:first-of-type {
  background-color: transparent;
  color: #d71023;
  font-size: 6rem;
  font-weight: 700;
  display: inline-block;
  /* max-height: 87px; */
}

.whiteBackground {
  display: flex;
  align-items: center;
  height: 28rem;
}

.whiteBackground img {
  align-self: flex-end;
}

.whiteBackground p {
  color: #0a1639;
  font-size: 1.5rem;
  font-family: Ubuntu;
  font-weight: 500;
  margin-top: 6rem;
  padding: 0 1rem;
}

@media screen and (max-width: 767px) {
  
  .wordingContainer {
    margin-top: 18rem;
  padding: 1rem;
  }
  
  .wordingContainer p {
    text-align: center;
    width: fit-content;
    font-size: 1.5rem;
  }

  .wordingContainer p:first-child {
    transform: translateX(0px);
  }

  .textContainer p:last-of-type {
    transform: translate(0px);
    max-height: none;
  }

  .textContainer {
    transform: translate(0);
  }

  .whiteBackground {
    flex-direction: column;
    height: auto;
    align-items: center;
    justify-content: center;
    width: 100%;
  }

  .whiteBackground img {
    align-self: center;
  }

  .whiteBackground p {
    text-align: center;
    font-size: 1.1rem;
    padding: 1rem;
    margin-top: 1rem;
  }
}